#follow-cart-container {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 140px;
  height: 48px;

  background: #5ecc62;
  border-radius: 8px;
  padding: 8px;

  align-items: center;
  justify-content: flex-start;
  text-align: center;

  display: none;
}

@media (min-width: 768px) {
  #follow-cart-container {
    right: 5%;
    bottom: 5%;
  }
}

#follow-cart-container.shown {
  display: flex;
  z-index: 9;
}

#follow-cart-container a {
  color: white;
  position: relative;
  font-size: 24px;
}

#shopping-cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;

  width: 18px;
  height: 18px;
  border-radius: 10px;
  z-index: 9;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  line-height: 0px;
  font-weight: bold;
}

.shopping-cart-icon {
  position: relative;
}

#total-order-amount {
  margin-left: 16px;
  color: white;
}

.header.no-hide ul {
  display: inherit;
}

.header.no-hide ul li {
  padding: 0;
  font-size: 150%;
}

@media (min-width: 768px) {
  padding-right: 24px;
}

.intro.presale h3 {
  font-size: 48px !important;
}

.info {
  color: white;
  padding: 16px;
  border-top: 16px solid #5ecc62;
  background: rgb(47, 50, 58);
}

.info h4 {
  font-size: 28px;
  margin: 16px 0;
}

.info a {
  color: #5ecc62;
}

.info a:hover {
  color: #fff200;
}

.info form {
  width: 95% !important;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 8px;
}

.card-holder .card {
  width: 90vw;
  max-width: 400px;
  margin: 0 0 16px 0;
  position: relative;
  border-radius: 8px;
  background: white;
  color: black;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

@media (min-width: 768px) {
  .card-holder .card {
    margin-right: 16px;
  }
}

.card-holder .card img {
  width: 90vw;
  max-width: 400px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-holder .card .price-tag {
  background: #fff200;

  color: black;
  padding: 8px;
  position: absolute;
  right: 0;

  border-top: none;
  border-right: none;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-holder .card .price-tag select {
  margin-right: 8px;
}

.card-holder .card .price-tag small {
  font-size: 75%;
}

.card-holder .card .inner {
  padding: 16px;
}

.card-holder .card .tag-list {
  padding: 0;
  margin: 0;
}

.card-holder .card .tag-list .tag {
  list-style-type: none;
  display: inline-block;
  margin: 4px;
  padding: 2px 8px;
  font-size: 80%;
  border-radius: 4px;
}

.card-holder .card .tag-list .tag:last-of-type {
  margin-right: 0;
}

.card-holder .card h5 {
  margin: 0;
  font-family: "Permanent Marker", Courier, monospace;
  font-size: 20px !important;
}

.card-holder .card p {
  font-size: 88%;
}

.card-holder .card.small {
  display: flex;
  border-radius: 0;
}

.card-holder .card.small .price-tag {
  border-radius: 0;
  position: initial;

  min-width: 172px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-holder .card.small .inner {
  padding: 8px;
}

.card-holder .card.small h5 {
  font-size: 16px !important;
}

.card-holder .card.small img {
  height: 80px;
  width: 80px;
}

.card-holder .card.small p,
.card-holder .card.small ul,
.card-holder .card.small img {
  display: none;
}

@media (min-width: 768px) {
  .intro.presale h3 {
    font-size: 64px !important;
  }

  .info {
    padding: 32px;
  }

  .info h4 {
    font-size: 48px;
    margin: 24px 0;
  }

  .card-holder .card,
  .card-holder .card img {
    max-width: 360px;
  }
}

.stirfrys {
  color: white;
  background: #138d90;
}

.curries {
  color: white;
  background: #001871;
}

.bakes {
  color: white;
  background: #43bcff;
}

.pizzas {
  color: white;
  background: #ffb743;
}

.omelettes {
  color: white;
  background: #e95b4f;
}

.steamed {
  color: white;
  background: #230827;
}

.sauteed {
  color: white;
  background: #491647;
}

.stews {
  color: white;
  background: #7c265e;
}

.sandwiches {
  color: black;
  background: #ff5454;
}

.salads {
  color: black;
  background: #ff813c;
}

.roasts {
  color: white;
  background: #8bc24c;
}

.pickled {
  color: white;
  background: #194f90;
}

.punches {
  color: black;
  background: #f6d04d;
}

.drinks {
  color: white;
  background: #f29c2b;
}

.desserts {
  color: white;
  background: #de4307;
}

.salads {
  color: white;
  background: #ff3366;
}

.juices {
  color: white;
  background: #33cc99;
}

.smoothies {
  color: white;
  background: #66ccff;
}

.anything {
  color: white;
  background: #2e4ea7;
}

.pastas {
  color: white;
  background: #f97e77;
}

.card .button-container {
  justify-content: center;
  padding: 8px;
}

.card .button-container .toggle,
.card .button-container .crop-count {
  font-size: 120% !important;
}

.card .button-container .toggle {
  color: #5ecc62;
  padding: 8px 16px;
}

.card .button-container .crop-count {
  font-size: 125% !important;
  margin: 0;
}

#toolbar {
  display: flex;
  justify-content: flex-end;

  width: 100%;

  padding: 16px;
  margin: 16px 0;

  border-top: 1px solid rgb(192, 192, 192, 0.2);
  border-bottom: 1px solid rgb(192, 192, 192, 0.2);
}

#toolbar button {
  font-size: 24px;
  color: grey;
}

#toolbar button.active {
  color: #5ecc62;
}