.header.no-hide ul {
  display: inherit;
}

.header.no-hide ul li {
  padding: 0;
  font-size: 150%;
}

@media (min-width: 768px) {
  padding-right: 24px;
}

.intro.presale h3 {
  font-size: 48px !important;
}

.info {
  color: white;
  padding: 16px;
  border-top: 16px solid #5ecc62;
  background: rgb(47, 50, 58);
}

.info h4 {
  font-size: 28px;
  margin: 16px 0;
}

.info a {
  color: #5ecc62;
}

.info a:hover {
  color: #fff200;
}

.info form {
  width: 95% !important;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 8px;
}

.card-holder .card {
  max-width: 280px;
  margin: 0 16px 16px 0;
}

.card-holder .card img {
  max-width: 278px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-holder .card {
  position: relative;
  border-radius: 8px;
  background: white;
  color: black;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.card-holder .card .price-tag {
  background: #fff200;

  color: black;
  padding: 8px;
  position: absolute;
  right: 0;

  border-top: none;
  border-right: none;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.card-holder .card .price-tag small {
  font-size: 75%;
}

.card-holder .card .inner {
  padding: 16px;
}

.card-holder .card .tag-list {
  padding: 0;
  margin: 0;
}

.card-holder .card .tag-list .tag {
  list-style-type: none;
  display: inline-block;
  margin: 4px;
  padding: 2px 8px;
  font-size: 80%;
  border-radius: 4px;
}

.card-holder .card .tag-list .tag:last-of-type {
  margin-right: 0;
}

.card-holder .card h5 {
  margin: 0;
  font-family: "Permanent Marker", Courier, monospace;
  font-size: 20px !important;
}

.card-holder .card p {
  font-size: 88%;
}

@media (min-width: 768px) {
  .intro.presale h3 {
    font-size: 64px !important;
  }

  .info {
    padding: 32px;
  }

  .info h4 {
    font-size: 48px;
    margin: 24px 0;
  }

  .card-holder .card,
  .card-holder .card img {
    max-width: 360px;
  }
}

.stirfrys {
  color: white;
  background: #138d90;
}
.curries {
  color: white;
  background: #001871;
}
.bakes {
  color: white;
  background: #43bcff;
}
.pizzas {
  color: white;
  background: #ffb743;
}
.omelettes {
  color: white;
  background: #e95b4f;
}
.steamed {
  color: white;
  background: #230827;
}
.sauteed {
  color: white;
  background: #491647;
}
.stews {
  color: white;
  background: #7c265e;
}
.sandwiches {
  color: black;
  background: #ff5454;
}
.salads {
  color: black;
  background: #ff813c;
}
.roasts {
  color: white;
  background: #8bc24c;
}
.pickled {
  color: white;
  background: #194f90;
}
.punches {
  color: black;
  background: #f6d04d;
}
.drinks {
  color: white;
  background: #f29c2b;
}
.desserts {
  color: white;
  background: #de4307;
}
.salads {
  color: white;
  background: #ff3366;
}
.juices {
  color: white;
  background: #33cc99;
}
.smoothies {
  color: white;
  background: #66ccff;
}
.anything {
  color: white;
  background: #2e4ea7;
}
.pastas {
  color: white;
  background: #f97e77;
}

.card .button-container {
  justify-content: center;
  padding: 8px;
}

.card .button-container .toggle,
.card .button-container .crop-count {
  font-size: 120% !important;
}

.card .button-container .toggle {
  color: #5ecc62;
  padding: 8px 16px;
}

.card .button-container .crop-count {
  font-size: 125% !important;
  margin: 0;
}
