.veggie-ticker-container {
	padding: 16px;
	margin: 0 auto;
	max-width: 900px;
}

.veggie-ticker-container h2 {
	color: white;
	text-align: center;
}

#veggie-ticker,
.ticker-card {
	display: flex;
}

#veggie-ticker {
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.ticker-card {
	align-items: center;
	justify-content: center;
	min-width: 160px;
	height: 80px;
	margin: 16px;
	border: 1px solid rgba(192,192,192, 0.01);
}

.ticker-card h3 {
	text-align: center;
	text-transform: uppercase;
	padding: 0 4px;
	color: white;
	background-color: rgba(0,0,0,0.8);
	text-decoration-color: #5ecc62;
}
